<div class="container">
	{{#each user in controller}}
		<div class="col-md-4">
			{{#link-to 'profile' user.id}}{{user.firstName}} {{user.lastName}}{{/link-to}} <br />
		</div>
	{{/each}}
		<button class="btn btn-success" style="margin-top: 100px"{{action "addPitre"}}>Add Static User</button>
</div>
